.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Bottom-Nav {
    color:green;
    position: absolute;
    bottom: 10px;
    width: 95%;
    text-align: center;
}

.No-underline {
    text-decoration: none;
}

li {
    display: inline;
    margin-right: 8px;
}

.div-center {
    text-align: center;
}

.label-margin {
    position: relative;
    top: 5px;
    bottom: 8px;
}

.input-fields {
    margin-top: 8px;
    border-radius: 12px;
    border: 1px solid black;
    padding: 4px;
}

.login-button {
    padding: 4px;
    border-radius: 60%;
    border: 1px solid black;
    margin-top: 10px;
    color: white;
    background-color: green;
    height: 50px;
    width: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
